[commit]
	gpgsign = true
[core]
	attributesfile = ~/.gitattributes
[difftool]
	prompt = false
[gpg]
	format = ssh
[help]
	autocorrect = 1
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig.local
[pull]
	rebase = true
[push]
	followTags = true
[tag]
	gpgsign = true
